<%- include("templates/header") %>
  <script src="https://cdn.socket.io/4.6.0/socket.io.js"></script>
  <link rel="stylesheet" href="css/chat.css">
  </head>

  <body>
    <%- include("templates/navbar_top") %>
      <div class="page-container">
        <div id="chat-box-body">
          <div class="conversation-window">
            <form id="initial-form">
              <div class="chat-message received">
                <h3 id="intro-msg">Hello, my name is FastFoodie!</h3>
                <p id="intro-direction">Please provide the following information:</p>
              </div>
              <div class="chat-message received">
                <label for="restaurant"></label>
                <select id="restaurant" name="restaurant">
                  <option value="" selected disabled hidden>Restaurant</option>
                  <option value="Arbys">Arby's</option>
                  <option value="BurgerKing">Burger King</option>
                  <option value="ChickFilA">Chick-fil-A</option>
                  <option value="DairyQueen">Dairy Queen</option>
                  <option value="McDonalds">McDonalds</option>
                  <option value="Sonic">Sonic</option>
                  <option value="Subway">Subway</option>
                  <option value="TacoBell">Taco Bell</option>
                </select>
              </div>
              <div class="chat-message received">
                <label for="mealtime"></label>
                <select id="mealtime" name="mealtime">
                  <option value="" selected disabled hidden>Meal Time</option>
                  <option value="Breakfast">Breakfast</option>
                  <option value="Lunch">Lunch</option>
                  <option value="Dinner">Dinner</option>
                </select>
              </div>
              <div class="chat-message received">
                <label for="dietary-restrictions"></label>
                <input type="text" id="dietary-restrictions" name="dietary-restrictions"
                  placeholder="Enter any dietary restrictions?">
              </div>
              <div class="chat-message received">
                <button class="submit-btn" type="submit">ASK FASTFOODIE</button>
              </div>
            </form>
          </div>

          <div id="messages" style="list-style: none; display: none;">
          </div>

          <div class="input-container" style="display: none;">
            <form id="message-form" action="">
              <input id="m" autocomplete="off" placeholder="Type your question here..." autofocus />
              <button class="submit-btn" id="send-message">SEND</button>
            </form>
          </div>
        </div>
      </div>

<%- include("js/chat_js") %>
<%- include("templates/navbar_bottom") %>
<%- include("templates/footer") %>