<%- include("templates/header") %>
<%- include("templates/navbar_top") %>
<link rel="stylesheet" href="/css/authentication.css">
<link rel="stylesheet" href="/css/home.css">

</head>
<body>
  <div class="greeting"><h2>Hello, <%= name %>🌞</h2></div>
  <div class="goals">
    <h1>My Goals 🎯</h1> 
    <div class="rings">
      <div class="percent1">
          <svg>
            <circle cx="35" cy="35" r="35"></circle>
            <circle cx="35" cy="35" r="35"></circle>
          </svg>
          <div class="number">
            <h2>75<span>%</span></h2>
            <br>
            Calories:
            800/<%=calorie_goal%>
          </div>
    </div>
      <div class="percent2">
          <svg>
            <circle cx="35" cy="35" r="35"></circle>
            <circle cx="35" cy="35" r="35"></circle>
          </svg>
          <div class="number">
            <h2>33<span>%</span></h2>
            <br>
            Carbs:
            40/<%=carbs_goal%>
          </div>
      </div>
        <div class="percent3">
          <svg>
            <circle cx="35" cy="35" r="35"></circle>
            <circle cx="35" cy="35" r="35"></circle>
          </svg>
          <div class="number">
            <h2>33<span>%</span></h2>
            <br>
            Protein:
            40/<%=protein_goal%>
          </div>
      </div>
        <div class="percent4">
          <svg>
            <circle cx="35" cy="35" r="35"></circle>
            <circle cx="35" cy="35" r="35"></circle>
          </svg>
          <div class="number">
            <h2>33<span>%</span></h2>
            <br>
            Fat: <br>
            40/<%=fat_goal%>
          </div>
      </div>
    </div>
  </div>
  <div class="nearby"></div>

    <button onclick="window.location.href='/logout'"class="submit-btn">
    Log out
  </button>
  <!-- JS Scripts go here -->
<%- include("templates/navbar_bottom") %>
<%- include("templates/footer") %>