<%- include("templates/header") %>
<%- include("templates/navbar_top") %>

<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>
<body>
  <div class="page-container">
    <div class="greeting">
      <h2>Hello, <%= name %>🌞</h2>
    </div>
    <div class="goals">
      <h2>My Goals 🎯</h2>
      <div class="rings">
        <div class="percent1">
          <svg>
            <circle cx="35" cy="35" r="30"></circle>
            <circle cx="35" cy="35" r="30"></circle>
          </svg>
          <div class="number">
            <h2>..<span>%</span></h2>
            <br>
            Calories <br>
            <span id="division1"><%=totalCalories%></span>/<%=calorie_goal%>
          </div>
        </div>
        <div class="percent2">
          <svg>
            <circle cx="35" cy="35" r="30"></circle>
            <circle cx="35" cy="35" r="30"></circle>
          </svg>
          <div class="number">
            <h2>..<span>%</span></h2>
            <br>
            Carbs <br>
            <span id="division2"><%=totalCarbs%></span>/<%=carbs_goal%>
          </div>
        </div>
        <div class="percent3">
          <svg>
            <circle cx="35" cy="35" r="30"></circle>
            <circle cx="35" cy="35" r="30"></circle>
          </svg>
          <div class="number">
            <h2>..<span>%</span></h2>
            <br>
            Protein <br>
            <span id="division3"><%=totalProtein%></span>/<%=protein_goal%>
          </div>
        </div>
        <div class="percent4">
          <svg>
            <circle cx="35" cy="35" r="30"></circle>
            <circle cx="35" cy="35" r="30"></circle>
          </svg>
          <div class="number">
            <h2>..<span>%</span></h2>
            <br>
            Fat <br>
            <span id="division4"><%=totalFat%></span>/<%=fat_goal%>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="nearby">  
    <h2>Nearby</h2>
    <div id="map" style="display: none;"></div>    
    
    <table class="list-table">
      <tbody id="list"></tbody>
    </table>
  </div>  

<%- include("js/home_js") %>
<%- include("templates/navbar_bottom") %>
<%- include("templates/footer") %>