<%- include("templates/header") %>
<%- include("templates/navbar_top") %>
<link rel="stylesheet" href="/css/authentication.css">
</head>
<body>

  <div class="greeting"><h2>Hello, <%= name %></h2></div>
  <div class="goals"></div>
  <div class="nearby"></div>

    <button onclick="window.location.href='/logout'"class="submit-btn">
    Log out
  </button>
  <!-- JS Scripts go here -->
<%- include("templates/navbar_bottom") %>
<%- include("templates/footer") %>