  <%- include("templates/header") %>
  <%- include("templates/navbar_top") %>

  <link rel="stylesheet" href="/css/item.css">
  
  <!-- SweetAlert library -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</head>

<body>
  <% const calFatPercent = cal_fat / calories * 100; %>
  <% const calProteinPercent = protein * 4 / calories * 100; %>
  <% const calCarbsPercent = total_carb * 4 / calories * 100; %>
  <% const calGoalPercent = calories / calorie_goal * 100; %>
  <% const fatGoalPercent = total_fat / fat_goal * 100; %>
  <% const carbGoalPercent = total_carb / carbs_goal * 100; %>
  <% const proteinGoalPercent = protein / protein_goal * 100; %>
  <% let compareExists = false; %>

  <div class="page-container">
    <div class="nutrition-container">
      <div id="item-header">
        <div id="item-restaurant">
          <img src="/images/<%= restaurant %>1.png" style="height: 35px;">
          &ensp;<%= restaurant.toUpperCase() %>
        </div>
        
        <div id="item-item">
          <%= item %>
        </div>
        
        <div id="item-calories">
          <%= calories %> Calories
        </div>
        <div>
          <form>
            <button class="add-btn" id="<%= id %>"> ADD </button>
            <button id="add-compare-btn" name="compareID" value="<%= id %>"
              <% for (let i = 0; i < locals.compareList.length; i++) { %>
                <% if (id.toString() == locals.compareList[i]._id.toString() && locals.compareList.length < 2) { %> 
                  <% compareExists = true; %>
                  onclick = "compareExists(event)"
                  compareExists = false;
                <% } %>
              <% } %> 
              <% if (compareExists == false && locals.compareList.length < 2) { %> 
                formaction="/addCompare" method="get" type="submit"
              <% } else if (locals.compareList.length >= 2) { %>
                onclick = "compareLimit(event)"
              <% } %>
            > COMPARE </button>
          </form>
        </div>
      </div>

      <div class="subheadings">COMPOSITION</div>
      <div class="total-bar">
        <div class="white-border">
          <div id="fat-bar" style="width: <%= calFatPercent %>%"></div>
          <div id="carbs-bar" style="width: <%= calCarbsPercent %>%; <% if (calFatPercent == 0) { %> border-radius: 20px 0 0 20px; <% } %>""></div>
          <div id="protein-bar" style="width: <%= calProteinPercent %>%"></div>
        </div>
      </div>
      
      <div id="item-calorie-composition">
        <div style="display: flex; align-items: center;">
          <div style="height: 10px; width: 10px; background-color: var(--accent); border-radius:50%;"></div>&ensp;Fat
        </div> 
        <div style="display: flex; align-items: center;">
          <div style="height: 10px; width: 10px; background-color: var(--accent-light); border-radius:50%;"></div>&ensp;Carbohydrate
        </div>
        <div style="display: flex; align-items: center;">
          <div style="height: 10px; width: 10px; background-color: var(--accent-lighter); border-radius:50%;"></div>&ensp;Protein
        </div>
      </div>

      <div class="subheadings">
        <div>CALORIES</div>
        <div <% if(calGoalPercent > 100) { %> style="color:var(--accent);" <% } %> > <%= calories %> / <%= calorie_goal %> cal </div>
      </div>
      <div class="total-bar">
        <div class="white-border">
          <div class="target-bar" style="width: <%= calGoalPercent %>%; background-color: var(--accent);"></div>
        </div>  
      </div>

      <div class="subheadings">
        <div>FAT</div>
        <div <% if(fatGoalPercent > 100) { %> style="color:var(--accent);" <% } %>>
          <%= total_fat %> / <%= fat_goal %> g
        </div>
      </div>
      <div class="total-bar">
        <div class="white-border">
          <div class="target-bar" style="width: <%= fatGoalPercent %>%; background-color: var(--accent);"></div>
        </div>
      </div>

      <div class="subheadings">
        <div>CARBOHYDRATES</div>
        <div <% if(carbGoalPercent > 100) { %> style="color:var(--accent);" <% } %>>
          <%= total_carb %> / <%= carbs_goal %> g
        </div>
      </div>
      <div class="total-bar">
        <div class="white-border">
          <div class="target-bar" style="width: <%= carbGoalPercent %>%; background-color: var(--accent);"></div>
        </div>
      </div>

      <div class="subheadings">
        <div>PROTEIN</div>
        <div <% if(proteinGoalPercent > 100) { %> style="color:var(--accent);" <% } %>>
          <%= protein %> / <%= protein_goal %> g
        </div>
      </div>
      <div class="total-bar">
        <div class="white-border">
          <div class="target-bar" style="width: <%= proteinGoalPercent %>%; background-color: var(--accent);"></div>
        </div>
      </div>

      <div id="nutrition-value-list">
        <div class="nutrient-list"> TOTAL FAT <div> <%= total_fat %> g </div> </div>
        <div class="nutrient-list nutrient-list-override"> &emsp; SATURATED FAT <div> <%= sat_fat %> g </div> </div>
        <div class="nutrient-list nutrient-list-override"> &emsp; TRANS FAT <div> <%= trans_fat %> g </div> </div>
        <div class="nutrient-list"> CHOLESTEROL <div> <%= cholesterol %> mg </div> </div>
        <div class="nutrient-list"> SODIUM <div> <%= sodium %> mg </div> </div>
        <div class="nutrient-list"> TOTAL CARBOHYDRATES <div> <%= total_carb %> g </div> </div>
        <div class="nutrient-list nutrient-list-override""> &emsp;FIBER <div> <%= fiber %> g </div> </div>
        <div class="nutrient-list nutrient-list-override"> &emsp;SUGAR <div> <%= sugar %> g </div> </div>
        <div class="nutrient-list""> PROTEIN <div> <%= protein %> g </div> </div>
        <div class="nutrient-list"> VITAMIN A <div> <%= vit_a %> % </div> </div>
        <div class="nutrient-list"> VITAMIN C <div> <%= vit_c %> % </div> </div>
        <div class="nutrient-list"> CALCIUM <div> <%= calcium %> % </div> </div>
      </div>
      
    </div>
  </div>

<%- include("js/item_js") %>
<%- include("templates/navbar_bottom") %>
<%- include("templates/footer") %>