  <%- include("templates/header") %>
  <%- include("templates/navbar_top") %>
  <link rel="stylesheet" href="/css/item.css">
</head>

<body>
  <% const calFatPercent = cal_fat / calories * 100; %>
  <% const calSugarPercent = sugar * 4 / calories * 100; %>
  <% const calProteinPercent = protein * 4 / calories * 100; %>


  <div class="page-container">
    <div class="nutrition-container">
      <div id="item-restaurant">
        <%= restaurant.toUpperCase() %>
      </div>
      
      <div id="item-item">
        <%= item %>
      </div>
      
      <div id="item-calories"> <%= calories %> Calories </div>
      <div id="total-bar">
        <div id="fat-bar" style="width: <%= calFatPercent %>%"></div>
        <div id="sugar-bar" style="width: <%= calSugarPercent %>%"></div>
        <div id="protein-bar" style="width: <%= calProteinPercent %>%"></div>
      </div>
      <div id="item-calories-from-fat"> Calories from fat: <%= cal_fat %> cal </div>
      <div id="item-total-fat"> Total fat: <%= total_fat %> g </div>
      <div id="item-sat-fat"> &emsp; Saturated fat: <%= sat_fat %> g </div>
      <div id=" item-trans-fat"> &emsp; Trans fat: <%= trans_fat %> g </div>
      <div id="item-cholesterol"> Cholesterol: <%= cholesterol %> mg </div>
      <div id="item-sodium"> Sodium: <%= sodium %> mg </div>
      <div id="item-total-carbs"> Total carbohydrates: <%= total_carb %> g </div>
      <div id="item-fiber"> &emsp; Fiber: <%= fiber %> g </div>
      <div id="item-sugar"> &emsp; Sugar: <%= sugar %> g </div>
      <div id="item-protein"> Protein: <%= protein %> g </div>
      <div id="item-vit-a"> Vitamin A: <%= vit_a %> % </div>
      <div id="item-vit-c"> Vitamin C: <%= vit_c %> % </div>
      <div id="item-calcium"> Calcium: <%= calcium %> % </div>
    </div>
  </div>




<%- include("templates/navbar_bottom") %>
<%- include("templates/footer") %>