<%- include("templates/header") %> 
<%- include("templates/navbar_top") %> 
<%- include("templates/sidebar") %>
<link rel="stylesheet" href="/css/menu.css" />
<header>
  <h1>McDonald's</h1>
</header>
<main>
  <div class="card">
    <img src="/images/Mcdonalds1.png" alt="McDonald's" />
    <div class="item-details">
      <h2>Big Mac</h2>
      <p><small>Calories: 570Cals</small></p>
      <p><small>Protein: 24g</small></p>
      <p><small>Fat: 32g</small></p>
    </div>
    <button class="add-btn" onclick="addToCart">Add</button>
  </div>
  <div class="card">
    <img src="/images/Mcdonalds1.png" alt="McDonald's" />
    <div class="item-details">
      <h2>Cheeseburger</h2>
      <p><small>Calories: 290Cals</small></p>
      <p><small>Protein: 14g</small></p>
      <p><small>Fat: 12g</small></p>
    </div>
    <button class="add-btn" onclick="addToCart">Add</button>
  </div>
</main>
<%- include('templates/navbar_bottom') %> 
<%- include("templates/footer") %>
