<%- include("templates/header") %> 
<%- include("templates/navbar_top") %>

<link rel="stylesheet" href="/css/menu.css">

</head>
<body>
<header>
  <h1><%= restaurant.name %></h1>
</header>
<main>
  <% menu.forEach(function(item) { %>
  <div class="card">
    <img src="<%= restaurant.image %>" alt="<%= restaurant.name %>" />
    <div class="item-details">
      <h2><%= item.item %></h2>
      <p>
        <small><strong>Calories:</strong> <%= item.calories %>Cals</small>
      </p>
      <p>
        <small><strong>Protein:</strong> <%= item.protein %>g</small>
      </p>
      <p>
        <small><strong>Fat:</strong> <%= item.total_fat %>g</small>
      </p>
    </div>
    <button class="add-btn" id="<%= item._id %>">Add</button>
  </div>
  <% }); %>
</main>
<div class="placeholder"></div>

<script>
  const addButtons = document.querySelectorAll('.add-btn');

  addButtons.forEach(button => {
    button.addEventListener('click', (e) => {
      console.log('Button clicked!');
      const itemId = e.target.id;

      fetch('/addItem', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ itemId: itemId })
      }).then(response => response.json())
        .then(data => {
          if (data.success) {
            updateTrayCount(data.trayItemCount);
          } else {
            // Handle error
          }
        });
    });
  });
</script>



<%- include('templates/navbar_bottom') %> 
<%- include("templates/footer") %>
