<header>
  <h1>My Tray</h1>
  <button id="remove-all-btn">REMOVE ALL</button>
</header>
<div id="tray-list">
  <% trayItems.forEach(function(item, index) { %>
  <div
    class="trayCard"
    data-index="<%= index %>"
    data-restaurant="<%= item.restaurant.name %>"
    data-item="<%= item.item %>"
  >
    <img src="<%= item.restaurant.image %>" alt="<%= item.restaurant.name %>" />
    <div class="item-details">
      <h2><%= item.item %></h2>
      <p>
        <small><strong>Calories:</strong> <%= item.calories %> Cal</small>
      </p>
      <p>
        <small><strong>Carbs:</strong> <%= item.total_carb %> g</small>
      </p>

      <p>
        <small><strong>Protein:</strong> <%= item.protein %> g</small>
      </p>
      <p>
        <small><strong>Fat:</strong> <%= item.total_fat %> g</small>
      </p>
    </div>
    <button class="remove-btn" data-index="<%= index %>" id="<%= item._id %>">
      REMOVE
    </button>
  </div>
  <% }); %>
</div>
