<header>
  <h1>My Tray</h1>
</header>
<main id="tray-list">
  <% trayItems.forEach(function(item) { %>
  <div class="card">
    <img src="<%= item.restaurant.image %>" alt="<%= item.restaurant.name %>" />
    <div class="item-details">
      <h2><%= item.item %></h2>
      <p>
        <small><strong>Calories:</strong> <%= item.calories %> Cal</small>
      </p>
      <p>
        <small><strong>Carbs:</strong> <%= item.total_carb %> g</small>
      <p>
        <small><strong>Protein:</strong> <%= item.protein %> g</small>
      </p>
      <p>
        <small><strong>Fat:</strong> <%= item.total_fat %> g</small>
      </p>
    </div>
    <button class="remove-btn" id="<%= item._id %>">Remove</button>
  </div>
  <% }); %>
</main>