<%- include("templates/header") %>
<link rel="stylesheet" href="/css/authentication.css">

</head>
<body>
  <div class="auth-form-container">
  <h2>My Nutritional Goals</h2>
  <p>Daily Calorie: <%= calorieNeeds %> KCal</p>
  <p>Daily Protein: <%= protein %> g</p>
  <p>Daily Fat: <%= fat %> g</p>
  <p>Daily Carbs: <%= carbs %> g</p>
  <button class="submit-btn" onclick="window.location.href='/home';">Start Your Journey</button>
  </div>
  <%- include("templates/footer") %>