</head>
<body>
  <h1>User Profile</h1>
  <p>Sex: <%= sex %></p>
  <p>Age: <%= age %></p>
  <p>Height: <%= height %> cm</p>
  <p>Weight: <%= weight %> kg</p>
  <p>Activity: <%= activity %></p>
  <p>Goal: <%= goal %></p>
  <h2>Nutritional Goals</h2>
  <p>Calorie Needs: <%= calorieNeeds %> calories</p>
  <p>Protein: <%= protein %> grams</p>
  <p>Fat: <%= fat %> grams</p>
  <p>Carbs: <%= carbs %> grams</p>