<%- include("templates/header") %> 
<%- include("templates/navbar_top") %>
<link rel="stylesheet" href="/css/restaurant.css" />
<header>
  <h1 class="restaurant-title">Restaurants</h1>
</header>
<main class="restaurant-images">
  <% for (let i = 0; i < restaurants.length; i++) { %>
  <a href="/menu/<%= restaurants[i].name %>">
  <img src="<%= restaurants[i].image %>" alt="<%= restaurants[i].name %>" /></a>
  <% } %>
</main>
<%- include('templates/navbar_bottom') %> 
<%- include("templates/footer") %>
